extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1.about-name Dominic Meyer

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | After my commercial apprenticeship, I have since continued my education in computer science and completed
            | my Bachelor's degree in business informatics in 2019. Since then I have been employed as a software
            | developer and I am constantly improving my skills. This portfolio page should show what I have learnt so
            | far. Do you have any questions? Then please contact me!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul.fa-ul
          li
            span.fa-li
              i.fas.fa-tools
            | JavaScript / jQuery
          li
            span.fa-li
              i.fas.fa-tools
            | node.js / Express
          li
            span.fa-li
              i.fas.fa-tools
            | Html, CSS, SCSS
          li
            span.fa-li
              i.fas.fa-tools
            | Bootstrap 4
          li
            span.fa-li
              i.fas.fa-tools
            | Bootstrap 4
          li
            span.fa-li
              i.fas.fa-tools
            | JAVA
          li
            span.fa-li
              i.fas.fa-tools
            | SQL
          li
            span.fa-li
              i.fas.fa-tools
            | Requirement Engineering
          li
            span.fa-li
              i.fas.fa-tools
            | Scrum

        h6 Contact Info

        //- Add your own contact info
        ul
          li +41 79 769 72 57
          li dominic.meyer@me.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.link-icon(href='https://www.linkedin.com/in/dominic-meyer-112b00141/', target="_blank")
          i.fab.fa-linkedin
        a.link-icon(href='https://github.com/doodelidodo', target="_blank")
          i.fab.fa-github
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  